<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google_api_key" content="{{.APIKey}}">
    <meta name="google-signin-client_id" content="{{.ClientID}}">
    <meta name="google-signin-scope" content="profile">
    <title>Brighter Blacker</title>
    <script src="https://apis.google.com/js/api.js" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link href="public/css/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript">
      // Force `fetch` polyfill to workaround Chrome not displaying request body
      // in developer tools for the native `fetch`.
      self.fetch = null;
    </script>
    <script src="public/app.bundle.js"></script>
  </body>
</html>
